<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Otkrio si moju tajnu!</h1>
    <h2 class="display-3">Ja sam Web Developer</h2>

    <% usersWithSecrets.forEach(function(user){ %>
      <p class="secret-text"><%=user.secret%></p>
    <% }) %>



    <hr>
    <a class="btn btn-light btn-lg" href="/logout" role="button">Odjavi se</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Unesi svoju tajnu</a>
  </div>
</div>

<%- include('partials/footer') %>
